venv*
*.hdf5
AlphaImpute2*
alphaimpute2/
*.bed
*.bim
*.fam
*.hh
*.dupvar
*SI_hair_*
hail*
*whl
*.txt
plink
*.err
*.log
beagle*.jar
*.out
data/
loo/
*.tsv
*.frq
*.ldmap
*.h5
replicates*
outputs*
loo*
logs*
*.csv
cleanup/
cleanup/*